body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon-action:hover{
  cursor: pointer;
}

.error-message{
  color: red;
}

.footer-modal{
  margin-top: 40px;
  text-align: right;
}

.btn-discard{
  margin: 0 5px !important;
}

.btn-save{
  margin: 0 5px !important;
}