<p>
  Danh sách user
</p>

<table class="table table-bordered table-sm">
    <thead>
      <tr class="table-success">
        <td>STT</td>
        <td>username</td>
        <td>first name</td>
        <td>last name</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr [hidden]="!isLoading">
        <td colspan="5" class="text-center">
          <i class="fa fa-spinner fa-spin" style="color: #39833c; font-size: 50px"></i>
        </td>
      </tr>
      <tr [hidden]="isLoading" *ngFor="let item of lstUser; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.username}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td class="text-center">
          <mat-icon class="btn-delete" (click)="delete(item)" aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>