.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.currentInfo{
  color: white;
  font-weight: bold;
  text-align: center;
}

.icon-header-right{
  float: right;
  margin: 25px;
}

.icon-header-right:hover{
  cursor: pointer;
}

.custom-input-as-ant-input{
  border: 1px solid #d9d9d9 !important;
  width: 100% !important;
}

.p-picklist-source-controls {
  display: none !important;
}
.p-picklist-target-controls{
  display: none !important;
}